html,
body
{
  /*width: 100%;*/
  min-height: 100%;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;

  line-height: 1.3;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #364143;
}

.intro
{
  max-width: 600px;
  padding: 24px;
}

.intro h1
{
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.intro blockquote
{
  padding: 0;
  margin: 0;
  font-size: 21px;
  opacity: .3;
}

.intro p
{
  font-size: 16px;
  line-height: 1.58;
}
.intro a
{
  font-size: 16px;
  color: #1AA9D5;
}
.intro a:hover
{
  opacity: .8;
}


.cm-s-mbo.CodeMirror,
.cm-s-mbo .CodeMirror-gutters
{
  background:#0a4e63;
  font-size: 14px;
}

.cm-s-mbo .CodeMirror-linenumber
{
  color: white;
  opacity: .2;
}

.editors
{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100vh;
  width: 100%;
}

.editors__editor
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 33%;
  margin-right: 1px;
}
.editors__editor:last-child
{
  margin-right: 0;
}

.editor__header
{
  background: #116E8B;
  padding: 8px 16px;

}
.editor__header h1
{
  font-size: 12px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.editor__content
{
  height: calc(100% - 47px);
}

.editor__content .CodeMirror
{
  width: 100%;
  height: 100%;
}
